

/* Change the color of both buttons */
.swiper-button-next, 
.swiper-button-prev {
  color: red; 
  background-color: #ffffff;
  border-radius: 50%; 
  border: 1px solid gray;
  padding: 10px; 
  font-weight: 800;
  opacity:0.7
 } 
/* Change the appearance of disabled buttons  */
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled { 
  opacity: 0.3; 
  cursor: not-allowed; 
  pointer-events: all;
}

