@import "tailwindcss";


#root{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

.swiper-button-prev:after,
.swiper-button-next:after{
  padding: 20 20;
  border: 1px black;
  background-color: red;
}

.header-cosmos{
  position: fixed;
  top:0;
  left:0;
  transition: all 500ms ease-in-out;
  z-index: 999;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.filter1{
  position:fixed;
  background: white;
  transition: all 500ms ease-in-out;
}

.scroll-down1{
  transform: translate3d(0, -450%, 0);
}


